@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #25272e;
  font-family: Asap, sans-serif;
  color: white;
}

header {
  background: white;
  padding: 20px;
}

header > h1 {
  color: #25272e;
  text-align: center;
}

.score-board {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
  width: 200px;
  font-size: 46px;
  padding: 15px 20px;
  position: relative;
}

.badge {
  background: #e2584d;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -30px;
}

.result {
  font-size: 40px;
  color: white;
}

.result > p {
  text-align: center;
  font-weight: bold;
}

.choice {
  display: inline-block;
  padding: 10px;
  border: 4px solid white;
  border-radius: 50%;
  margin: 0 20px;
  transition: all 0.3s ease;
}

.choices {
  text-align: center;
  margin-top: 50px;
}

.choice:hover {
  cursor: pointer;
  background: #0a0706;
}

#action-message {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #25272e;
  text-align: center;
  padding: 10px;
}

footer > p {
  color: #25272e;
  text-align: center;
  font-weight: bold;
  font-family: Asap, sans-serif;
}

.green-glow {
  border: 4px solid #4dcc7d;
  box-shadow: 0 0 10px #31b43a;
}

.red-glow {
  border: 4px solid #fc121b;
  box-shadow: 0 0 10px #d01115;
}

.gray-glow {
  border: 4px solid #464647;
  box-shadow: 0 0 10px #25292b;
}

.btn {
  border-radius: 10px;
  background-color: white;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 1rem;
  cursor: pointer;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 30px;
}

.btn:hover {
  background: #eee;
}

.play-again {
  text-align: center;
}

.green {
  text-shadow: 1px 1px 10px #4dcc7d, 1px 1px 10px #31b43a;
}

.red {
  text-shadow: 1px 1px 10px #fc121b, 1px 1px 10px #d01115;
}

.gray {
  text-shadow: 1px 1px 10px #464647, 1px 1px 10px #25292b;
}
